body {
  background-color: #483D8B;
  text-align: center;
  color: #fff;
  font-family: "swap", Arvo;
}

h1 {
  text-align: center;
  /* color: #fff; */
  font-size: 5rem;
  padding-bottom: 5%;
}

.Set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.footer {
  padding-top: 7%;
}

.drum {
  padding: 2% 3%;
  margin: 1%;
  border-radius: 15%;
  border: solid 10px;
  border-color: #6A5ACD;
  font-size: 2rem;
  font-weight: bold;
  color: #C71585;
  font-family: 'Arvo', cursive;
}

/* Add background images to each button*/
.w {
  background-image: url('images/title.jpg');
}

.a {
  background-image: url("images/kick-drum.png");
  background-size: contain;
}

.s {
  background-image: url('images/crash-drum.png');
  background-size: contain;
}

.d {
  background-image: url("images/music1.jpg");
  background-size: contain;
}

.j {
  background-image: url("images/music2.jpg");
  background-size: cover;
}

.k {
  background-image: url("images/music3.jpg");
  background-size: contain;
}

.l {
  background-image: url("images/music4.jpg");
  background-size: contain;
}
