/************************* TAG SELECTORS ***********************/
body{
  margin: 0;
}

/************************* CLASS SELECTORS ***********************/
.red{
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 300px;

  /* top:50px; */
  /*right:50px;*/
  /* bottom: 50px;/*


  display: inline-block; /* to move block in line instead of top to bottom*/
}
.blue{
  background-color: blue;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 200px;
 /*  right: 30px; */
}
.pink{
  background-color: pink;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 180px;
  left: 300px;
  display: inline-block;
}
.yellow{
  background-color: yellow;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 400px;
 /*  right: 30px; */
}
.orange{
  background-color: orange;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 280px;
  left: 300px;
 /*  right: 30px; */
}
